{% extends "layout.html" %}

{% block header %}
  カテゴリー選択
{% endblock %}

{% block content %}
        <!-- ボタン　 -->
    <form action="/category/submit_category" method="post"><!--ボタンを押したらデータベースに保存される-->
      {% for category in categories %}
        <button type="submit" name="category" value="{{ category }}">{{ category }}</button>
      {% endfor %}
      <!--自由記述　これだけ、押したら自由記述画面にいく-->
      <button id="modalButton">モーダルを開く</button>

      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>モーダルウィンドウのタイトル</h2>
          <p>モーダルウィンドウの内容や説明文</p>
        </div>
      </div>
       
    </form>
          
    <script>
      const modal = document.getElementById('modal');
      const btn = document.getElementById('modalButton');
      const span = document.getElementsByClassName("close")[0];

      btn.onclick = function() {
      modal.style.display = "block";
      }

      span.onclick = function() {
        modal.style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
    </form>
    
    
{% endblock %}


