{% extends "layout.html" %}

{% block header %}
  モード選択
{% endblock %}

{% block content %}

<div>
  <h1>ディベートモード選択</h1>
</div>
  <!-- ボタン　３つ -->
  <form action="/category_page" method ="post" novalidate="novalidate"><!--ボタンを押したら次の画面に遷移-->
    {% for mode in modes %}
      <button type="submit" name="mode" value="{{ mode }}">{{ mode }}</button>
    {% endfor %}
  </form>

  <form action="/category_page" method ="post" novalidate="novalidate"><!--ボタンを押したら次の画面に遷移-->
    {% for mode in modes %}
      <button type="submit" name="mode" value="{{ mode }}">{{ mode }}</button>
    {% endfor %}
  </form>



</body>
</html>
   
    